<!DOCTYPE html>
<html id="ng-app" ng-app="myportal">
<head>
<title>Dashboard</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body ng-controller="MainController">
	<header ng-hide="isLogin()">
		<a href="javascript:;" ng-click="logout()">Logout</a>
	</header>
	<div ng-view></div>
	<!-- build:js(public) javascripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js(public) javascripts/scripts.js -->
	<script src="javascripts/app.js"></script>
	<script src="javascripts/ctrls/mainCtrl.js"></script>
	<script src="javascripts/ctrls/homeCtrl.js"></script>
	<script src="javascripts/ctrls/loginCtrl.js"></script>
	<script src="javascripts/ctrls/listCtrl.js"></script>
	<script src="javascripts/services/daoService.js"></script>
	<!-- endbuild -->
</body>
</html>
